@font-face {
  font-family: 'Acorn';
  src: url('Acorn-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
    font-family: 'GT-Planar';
    src: url('GT-Planar-Regular-Trial-BF63bcd9a5c44bb.otf') format('opentype');
}
h1{
    position: relative;
    text-align: center;
    font-family : "Acorn";
    font-size: 110px;
    font-weight: bolder;
    color: #025a4e;
    letter-spacing: -3px;
}
h2{
    font-family: "GT-Planar";
    font-size: 20px;
    color: #4c6763;
    text-align: center;
    font-weight: 200;
}

nav{
    justify-self: center;
    text-align: center;
    font-size: 20px;
    position: sticky;
    top:20px;
    width:fit-content;
   
}

nav.scrolled{
    background-color:rgba(255, 255, 255, 0.5);
    border:transparent;
    border-radius:50px 50px 50px 50px;

}

body {
  margin: 0;
  background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(237, 231, 221, 1) 100%
    ),
    linear-gradient(
      to right,
      #d7e0ce,
      #dee7b4,
      #e0e8b7,
      #e7edb7,
      #e1ebb7,
      #dae4c4
    );
  background-repeat: no-repeat;
  background-size: 100% 50vh, 100% 50vh;
  background-position: top, top;
background-color: #ede7dd;

}





nav button {
    all:unset;
    color:#025a4e;
    padding: 5px 15px 5px 15px;
}
nav button:active{
    border: 1px solid black;

}
nav button:hover{
      border: transparent;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50px 50px 50px 50px;
      
}


.clickable_images{
    display: flex;
    justify-content:space-between;
    padding: 0 20vh;
}
#IMAGE_ONE{
    width:52vw;
    height:38vw;
    border:transparent;
    border-radius:50px 50px 50px 50px;
}
#IMAGE_ONE:hover{
    width:54vw;
    transition: all 0.2s ease;
}
#IMAGE_TWO{
     width:25vw;
     height:38vw;
    border:transparent;
    border-radius:50px 50px 50px 50px;
}
#IMAGE_TWO:hover{
    width:27vw;
    transition: all 0.2s ease;
}

#IMAGE_THREE{
    width:52vw;
    border:transparent;
    border-radius:50px 50px 50px 50px;
}
#IMAGE_FOUR{
    width:25vw;
    border:transparent;
    border-radius:50px 50px 50px 50px;
}

.whatever{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60vh;
}

a {
    text-decoration: none;
    color: inherit; /* makes the link take the color from the parent, like the h4 */
}
p{
    color:inherit;
    font: inherit;
    font-size: inherit;
    font-family: inherit;
}

.cute{
    all:unset;
    background-color: #025a4e;
    height: 15px;
    width:1px;
    border: none;
     transition: height 0.3s ease;
     overflow:hidden;
     z-index:1;
}


.cute::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -15px;
  right: -15px;
  /* Invisible area */
  background: transparent;
  z-index: 0;
}
.cute:hover{
   transform:scaleY(2);
}

.footer_buttons{
    display: flex;
    gap: 45px;
   justify-content: center;
   color:black;
   background-color: transparent;  
}


.buttonwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}

.darkness {
    position: absolute;
    top:-35px;
    height: 30px;
    display: none;
}
body {
    transition: background-color 0.3s ease;
}

.AboutMeSection{
    display: flex;
    padding: 0 20vh;
    justify-content: space-between;
}

.Ciaran {
    height:300px;
}
h3{
    position: relative;
    text-align: center;
    font-family : "Acorn";
    font-size: 50px;
    font-weight: bold;
    color: #025a4e;
}
.AboutMeText{
    display:flex;
    flex-direction: column;
}
h4{
    font-family: "GT-Planar";
    font-size: 20px;
    color: #d4ede4;
    text-align: center;
}

h5{
      font-family: "GT-Planar";
    font-size: 16px;
    color: #ede7de;
    text-align: center;
}

.experiences3{
    display:flex;
    flex-direction: column;
    background:transparent;
    gap: 20px; 
    padding-left: 5%;
    padding-right: 10%;
}
.experience{
    display:flex;
    flex-direction:column;
    background-color: #025a4e;
    border:transparent;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 10px 10px 10px;
    text-align: left;
}
.experience h4,
.experience h5 {
    margin: 0px;
    text-align: left;
}

.experience h4 {
    margin-bottom: 5px;
}

.experience h5 {
    margin: 2px;
}

.experience:nth-child(1){
    margin-left: auto;
    width: 20%;
}

.experience:nth-child(2){
    margin-left: 400px;
    width: 40%;
}

.experience:nth-child(3){
    margin-left: auto;
    width: 70%;
}









    


