@font-face {
  font-family: 'Acorn';
  src: url('Acorn-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
    font-family: 'GT-Planar';
    src: url('GT-Planar-Regular-Trial-BF63bcd9a5c44bb.otf') format('opentype');
}
h1{
    position: relative;
    text-align: center;
    font-family : "Acorn";
    font-size: 7.64vw;
    font-weight: bolder;
    color: #025a4e;
    letter-spacing: -.2vw;
}
h2{
    font-family: "GT-Planar";
    font-size: 1.5vw;
    color: #4c6763;
    text-align: center;
    font-weight: 200;
}


.hoverText{
   font-family: "GT-Planar";
    font-size: 1.5vw;
    color: #4c6763;
    text-align: center;
    font-weight: 200;
}

.hoverText1{
  font-family: "GT-Planar";
    font-size: 1.5vw;
    color: #4c6763;
    text-align: center;
    font-weight: 200;
}

html, body{
  width:100%;
  max-width:100%;

}

body.lighttheme {
  --fallback-bg: #ede7dd;
}

body.darktheme {
  --fallback-bg: #233831;
}

.animated-gradient::before {
  content: "";
  position: relative;
  inset: 0;
  z-index: 2; /* above gradient layers */
  background-color: var(--fallback-bg);
  opacity: 1;
  animation: fadeOutSolid 0.4s ease forwards;
  animation-delay: 0.01s;
  pointer-events: none;
}


@keyframes fadeOutSolid {
  to {
    opacity: 0;
  }
}





.heading{
  width:fit-content;
  align-self:center;
}

.HeadingContainer{
  display:flex;
  flex-direction:column;
  padding-left:20vw;
  padding-right:20vw;
  align-items: center;
  align-self:center;
  padding-top:2vh;
}
.topIcon{
  align-self: flex-start;
  width:10vw;
display:block;
padding:0;
margin:0;

}

.bottomIcon{
  align-self: flex-end;
  width:10vw;
    display:block;
}

@keyframes twinkle {
  0% {
    transform: scale(0.1);
  }
  40%{
    transform:scale(.3);
  }
  50% {
    transform: scale(.5);
  }
   80% {
    transform: scale(.8);
  }
  100% {
    transform: scale(1);
  }
}

.topIcon {
  animation: twinkle  0.3s ease-out forwards;
    transform-origin: center;

}

.bottomIcon {
  animation: twinkle  0.3s ease-out forwards;
    transform-origin: center;

}



:root{
    --gradient1:linear-gradient(135deg,#cfe0bc,#d0e1b4,#d8ddbe,#e2d9cd,#e8d3d0,#e8d5d0,#e8d8ca);
    --gradient2:linear-gradient(136deg,#d1e0bc,#cee4b5,#cfe8c2,#cceac7,#dbe5ca,#e4e3d1);
    --gradient3:linear-gradient(137deg,#c9dfc6,#cee4b5,#c9e6b4,#cae9bd,#ceebca,#d2ecd1,#e2edcd,#e3e6cd,#e3e5cc);
    --gradient4:linear-gradient(138deg,#e5dfcd,#e3e3ca,#e5e1c2,#e6e1bd,#e7e1b9,#e8e4b4,#dee3af,#e5e7c1,#d5e5b2,#d9e9cc,#e2ead6);
    --gradient5:linear-gradient(139deg,#e7e0cf,#e8e2ce,#e9e4c2,#e3dfc0,#e7e3bb,#dcdfb5,#d2dfb0,#d5e2bb,#c8dfb2,#cfe3c6,#d2e4cd,#e2e9d8);
    --gradient6:linear-gradient(140deg,#d8e0c6,#dae0d0,#d6deca,#cfdcc2,#d8e0bb,#d3ddb7,#c7d7bb,#d1ddb8,#cad4b1,#d3d1b0,#d5d7c6);
    --gradient7:linear-gradient(141deg,#cadfc2,#cce0ce,#d2e1d1,#ccdeca,#cadbc2,#cfd2b7,#d0d5b5,#d9cfb2,#e2d0b2,#e2d4c3,#e2dbd3);
    --gradient8:linear-gradient(142deg,#c8dfbd,#c8e0c3,#c9dfcc,#ccdcce,#cdd9cf,#d0d8c5,#d2d5cb,#e0cfbe,#d9d1c4,#e8d4b1,#e9d7bd,#e9dbcc);
    --gradient9:linear-gradient(143deg,#dbdfb6,#dadfba,#e1ddcd,#dcddce,#d3d8ce,#cfd4cf,#d8d9d0,#d8d6ca,#cad0ce,#c7cfc5,#d1d3bf,#cad3be,#d0deb4,#d3e1b9,#d9e6c9);
    --gradient10:linear-gradient(144deg,#cedfb9,#cfdec3,#c9d9cb,#cdd8d0,#c7d5cf,#c8d1cd,#cad2c2,#cdcfc5,#ddd5b9,#ded9b3);
    --gradient11:linear-gradient(145deg,#cbdfb7,#ccdec8,#d0ddd0,#ceddcc,#d2dbcf,#d0dcd0,#d6d8c9,#dcd6be,#e5d1bf,#e0d4ba,#e7d2b8,#e6cfb9,#e7d1b3,#e9d9c7);
    --gradient12:linear-gradient(146deg,#d9e0bc,#d9decb,#d8ded2,#dbded0,#e0dccf,#e3dbcf,#e6d9cb,#e3dac7,#e7d5c1,#e5d5b9,#e6dbbf,#e6d5b5,#e5d8c6);

    --gradient13:linear-gradient(135deg,#5b6a4d,#586635,#56632e,#4c563b,#3a5443,#385250,#335c55,#2f5646,#2a4534);
    --gradient14:linear-gradient(136deg,#436a4d,#426937,#41652d,#3d6034,#395c3c,#33544b,#325051,#354f4d,#3b5147,#304838,#2a443a);
    --gradient15:linear-gradient(137deg,#386a4b,#386930,#36672d,#346431,#335c43,#445350,#435547,#485255,#3a483a);
    --gradient16:linear-gradient(138deg, #356a53, #326a38,#2c5e35,#607d32,#5a7348,#475c49);
    --gradient17:linear-gradient(139deg,#546a42, #546951, #536755,#456b38,#33712f,#326a40,#2c5d42 );
    --gradient18:linear-gradient(140deg, #616a3c,#5e6851,#586352,#536047,#48563c,#384c32,#4e6632,#40692d,#346c2e,#326736,#30583f);
    --gradient19:linear-gradient(141deg, #5b6a36,#5a6945,#576753,#596555,#596147,#5d613a,#4d5c2d,#475f2e,#3e5534,#394a3c);
    --gradient20:linear-gradient(142deg,#3c6a30,#3c6741,#3a6255,#395a53,#335344,#385135,#42552d,#3f5731,#425a31,#415933,#345338);
    --gradient21:linear-gradient(143deg, #5b6a33,#5a644b,#565c53,#51564d,#49503e,#3b4f2f,#32592d,#325f2e,#306033,#2d5d35,#2d5837,#294f38);
    --gradient22:linear-gradient(144deg, #346b47,#33692f,#326531,#336238,#395d45,#3f584f,#515641,#5b534e,#5c5352,#45493c,#364332);
    --gradient23:linear-gradient(145deg,#386a35,#396947,#335e50,#346053,#3c6a55,#3a654d,#3f6a46,#426d47,#4d7440,#4f7439,#57762f,#5d782d,#5a752d,#4b6634,#4e6735,#375039);
    --gradient24:linear-gradient(146deg,#616a30,#5d6635,#576247,#556151,#4c6555,#3f6858,#366649,#336239,#335f35,#315930,#31552e);
}

body{
  width:100%;
  max-width:100%;
  margin: 0;
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(237, 231, 221, 1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-position: top;
  background-color: #ede7dd;
* position: relative; 
  overflow-x: hidden;
    z-index: -2;
}

.animated-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70vh;
  z-index: -1;
  pointer-events: none;
}

.animated-gradient .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fadeGradient 55s infinite;
}

.animated-gradient.lighttheme .layer:nth-child(1) {
  background: var(--gradient1);
  animation-delay: 0s;
}
.animated-gradient.lighttheme .layer:nth-child(2) {
  background: var(--gradient2);
  animation-delay: 5s;
}
.animated-gradient.lighttheme .layer:nth-child(3) {
  background: var(--gradient3);
  animation-delay: 10s;
}
.animated-gradient.lighttheme .layer:nth-child(4){
  background: var(--gradient4);
  animation-delay:15s;
}

.animated-gradient.lighttheme .layer:nth-child(5){
  background: var(--gradient5);
  animation-delay:20s;
}

.animated-gradient.lighttheme .layer:nth-child(6){
  background: var(--gradient6);
  animation-delay:25s;
}

.animated-gradient.lighttheme .layer:nth-child(7){
  background: var(--gradient7);
  animation-delay:30s;
}

.animated-gradient.lighttheme .layer:nth-child(8){
  background: var(--gradient8);
  animation-delay:35s;
} 

.animated-gradient.lighttheme .layer:nth-child(9){
  background: var(--gradient9);
  animation-delay:40s;
}

.animated-gradient.lighttheme .layer:nth-child(10){
  background: var(--gradient10);
  animation-delay:45s;
}

.animated-gradient.lighttheme .layer:nth-child(11){
  background: var(--gradient11);
  animation-delay:50s;
}

.animated-gradient.lighttheme .layer:nth-child(12){ 
  background: var(--gradient12);
  animation-delay:55s;
}

@keyframes fadeGradient {
  0%, 100% { opacity: 0; }
  10%, 33% { opacity: 1; }
  43%, 100% { opacity: 0; }
}

.animated-gradient::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px; /* adjust as needed for smoothness */
  background: linear-gradient(to bottom, transparent, #ede7dd);
  pointer-events: none;
}



body.darktheme {
  width:100%;
  max-width:100vw;
  margin: 0;
  background:
  linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%,rgba(35, 56, 49, 1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-position: top;
  background-color: #233831;
  position: relative; /* Needed for the overlay child */
  overflow-x: hidden;
  z-index:-2;
}

  body.darktheme .animated-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  z-index: -1;
  pointer-events: none;
}

body.darktheme .animated-gradient .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fadeGradientDark 50s infinite;
}

@keyframes fadeGradientDark {
  0%, 100% { opacity: 0; }
  10%, 33% { opacity: 1; }
  43%, 100% { opacity: 0; }
}

body.darktheme .animated-gradient .layer:nth-child(1) {
  background: var(--gradient13);
  animation-delay: 0s;
}
body.darktheme .animated-gradient .layer:nth-child(2) {
  background: var(--gradient14);
  animation-delay: 5s;
}
body.darktheme .animated-gradient .layer:nth-child(3) {
  background: var(--gradient15);
  animation-delay: 10s;
}
body.darktheme .animated-gradient .layer:nth-child(4) {
  background: var(--gradient16);
  animation-delay: 15s;
}
body.darktheme .animated-gradient .layer:nth-child(5) {
  background: var(--gradient17);
  animation-delay: 20s;  
}
body.darktheme .animated-gradient .layer:nth-child(6) {
  background: var(--gradient18);
  animation-delay: 25s;  
}
body.darktheme .animated-gradient .layer:nth-child(7){
  background: var(--gradient19);
  animation-delay: 30s;
}
body.darktheme .animated-gradient .layer:nth-child(8){
  background: var(--gradient20);
  animation-delay: 35s;
}

body.darktheme .animated-gradient .layer:nth-child(9){
  background: var(--gradient21);
  animation-delay: 40s;
}

body.darktheme .animated-gradient .layer:nth-child(10){
  background: var(--gradient22);
  animation-delay: 45s;
}
body.darktheme .animated-gradient .layer:nth-child(11){
  background: var(--gradient23);
  animation-delay: 50s;
}

body.darktheme .animated-gradient .layer:nth-child(12){
  background: var(--gradient24);
  animation-delay: 55s;
}



body.darktheme .animated-gradient::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px; /* adjust as needed for smoothness */
  background: linear-gradient(to bottom, transparent, #233831);
  pointer-events: none;
}


body.lighttheme .animated-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  z-index: -1;
  pointer-events: none;
}

body.lighttheme .animated-gradient .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fadeGradient 45s infinite;
}

body.lighttheme .animated-gradient .layer:nth-child(1) {
  background: var(--gradient1);
  animation-delay: 0s;
}
body.lighttheme .animated-gradient .layer:nth-child(2) {
  background: var(--gradient2);
  animation-delay: 15s;
}
body.lighttheme .animated-gradient .layer:nth-child(3) {
  background: var(--gradient3);
  animation-delay: 30s;
}

@keyframes fadeGradient {
  0%, 100% { opacity: 0; }
  10%, 33% { opacity: 1; }
  43%, 100% { opacity: 0; }
}





body.lighttheme .animated-gradient::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* adjust as needed for smoothness */
  background: linear-gradient(to bottom, transparent, #ede7dd);
  pointer-events: none;
}






nav button {
    all:unset;
    color:#025a4e;
    padding: .3vh 1.3vw .3vh 1.3vw;
    height:7vh;
     display: inline-flex;
    justify-content: center;
    align-items: center;    
}

nav button:hover{
      border: transparent;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50px 50px 50px 50px;

      
}

nav button.active{
      border: transparent;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50px 50px 50px 50px;
}



.clickable_images{
    display: flex;
    justify-content:space-between;
    padding: 2vh 10vw;
    gap:2vw;
}
#IMAGE_ONE{
    width:52vw;
    height:38vw;
    border:transparent;
    border-radius:50px 50px 50px 50px;
}
#IMAGE_ONE:hover{
    width:54vw;
    transition: all 0.2s ease;
}
#IMAGE_TWO{
     width:25vw;
     height:38vw;
    border:transparent;
    border-radius:50px 50px 50px 50px;
}
#IMAGE_TWO:hover{
    width:27vw;
    transition: all 0.2s ease;
}

#IMAGE_THREE{
    width:52vw;
    border:transparent;
    border-radius:50px 50px 50px 50px;
}
#IMAGE_FOUR{
    width:25vw;
    border:transparent;
    border-radius:50px 50px 50px 50px;
}

.whatever{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 15vw 2vw 15vw;
}

a {
    text-decoration: none;
    color: inherit; /* makes the link take the color from the parent, like the h4 */
}
p{
    color:inherit;
    font: inherit;
    font-size: inherit;
    font-family: inherit;
}

body {
    transition: background-color 0.3s ease;
}

.AboutMeSection{
    display: flex;
    padding: 0 0 0 5vw;
    justify-content: space-between;
}

.AboutMeDescription{
   padding:0;
   margin-top:0; 
   width:30vw;
   text-align: left; 

}

.CiaranImage{
  margin:0;
  padding:0;
  display:flex;
  justify-content:center;
  align-items:center;
}

.AboutMeHeader{
  width:30vw;
}

.Ciaran {
    height:70vh;
    width: auto;
    border-radius:50% 50% 0% 0%;
    margin:0;
    padding:0;
}


h3{
    position: relative;
    text-align: center;
    font-family : "Acorn";
    font-size: 2.6vw;
    font-weight: bold;
    color: #025a4e;
}
.AboutMeText{
    display:flex;
    flex-direction: column;
    width:40vw;
    align-self:center;
    margin-right:5vw;
}
h4{
    font-family: "GT-Planar";
    font-size: 20px;
    color: #d4ede4;
    text-align: center;
}

h5{
      font-family: "GT-Planar";
    font-size: 16px;
    color: #ede7de;
    text-align: center;
}

.experiences3{
    display:flex;
    flex-direction: column;
    background:transparent;
    gap: 20px; 
    padding-left: 5%;
    padding-right: 10%;
}

.experience_image{
  justify-content:center;
}
.experience{
    display:flex;
    flex-direction:column;
    background-color: #025a4e;
    border:transparent;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 10px 10px 10px;
    text-align: left;
}
.experience h4,
.experience h5 {
    margin: 0px;
    text-align: left;
}

.experience h4 {
    margin-bottom: 5px;
}

.experience h5 {
    margin: 2px;
}

.experience:nth-child(1){
    margin-left: auto;
    width: 20%;
}

.experience:nth-child(2){
    margin-left: 400px;
    width: 40%;
}

.experience:nth-child(3){
    margin-left: auto;
    width: 70%;
} 
.softskillbox{
    display:flex;
    flex-direction:column;
    border:transparent;
    background-color:#f4eee6;
    border-radius:50px 50px 50px 50px;
    margin-left:40px;
    margin-right:40px;
    padding: 10px 50px 10px 50px;
}

.skills2{
    display:flex;
}

.skills4{
    display:flex;
}

.softskillbox h3{
    font-size:35px;
}


.scrollSection {
  overflow: hidden;
  width: 100%;
  background:  linear-gradient(135deg, #f3eee7 0%, #e3d9cc 100%);
}

.darktheme .scrollSection{
  border-radius:20px;
  border:solid 4px;
  border-color: #233831;
}

.imagesScroll {
  display: flex;
  width: fit-content;
  animation: scroll-left 15s linear infinite;
}

.imagesScroll img {
  width: 30%;
  height: auto;
  margin-right: 20px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.gridAwards{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:25px;
}

.gridOne{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:20px;
}


.ListOfBlogs{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:15px;
}

.ListOfBlogs > * {
  width: 100%;
  max-width: 70vw;
}


.BlogImages{
  background-color: white;
   width:100%;
    justify-content: flex-end;
}

.circle-frame{
    width: 10vw;         /* Diameter of your circle */
  height: 10vw;
  border-radius: 50%;
  background-color:white;
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-shrink:0;
}

.circle-frame img{
  width:10vw;
  height:10vw;
  object-fit:cover;
  display:block;
}

.Blog1{
  display: flex;
  justify-content:space-between;
  background-color: #f4eee6;
  border-radius:40px;
  padding: 20px;
}

.Blog1:hover{
  background-color:white;
}

.darktheme .Blog1{
  background-color:#234138;
}

.darktheme .Blog1:hover{
  background-color: #355a4d;
}

.darktheme h1{
color: #8fdcc2;
}

.darktheme h2{
 color:#d4ede4;
}

.darktheme .softskillbox{
  background-color: #234138;
}
.darktheme h3{
  color:#8fdcc2;
}
h8{
    position: relative;
    text-align: center;
    font-family : "Acorn";
    font-size: 1.8em;
    font-weight: bold;
    color: #025a4e;
}
.darktheme h8{
  color:#8fdcc2;
}
.darktheme h4{
  color: #233831;
}
.darktheme h5{
  color: #233831;
}
.darktheme .experience{
  background-color: #8fdcc2;
}
.lighttheme h1{
color:#025a4e;
}
.lighttheme h2{
color:#4c6763;
}
.lighttheme h3{
  color:#025a4e;
}
.lighttheme h4{
  color:#d4ede4;
}
.lighttheme h5{
  color:#ede7de;
}
.darktheme h7{
  color:#8fdcc2;
}
.lighttheme h7{
  color:#025a4e;
}

h7{
    position: relative;
    text-align: center;
    font-family : "Acorn";
    font-size: clamp(16px,4.58vw,88px);
    font-weight: bolder;
    color: #025a4e;
    letter-spacing: 0.15625vw; 
}
.blogtext{
  display:flex;
  flex-direction:column;
  margin-left:5px;
}
h1:first-of-type {
  animation: bounceUp 0.6s ease-out;
}
@keyframes bounceUp {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  60% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
.AwardImages{
 width: 20vw;
  height: 50vh;
  border-radius: 20px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background-color:white;
  overflow:hidden;
}


.AwardImages .AwardImage{
  margin-top:0px;
  margin-bottom:0px;
  padding-top:0px;
width:100%;
height:100%;
 object-fit: contain;
 background-color:white;
border-radius: 20px;
overflow:hidden;
}

.AwardImage img{
  height:100%;
  width:auto;
}

.AwardImage{
  height:100%;
  width:auto;
}

.ToolPage{
    width:80%;
  height:80%;
 object-fit: contain;
 background-color:white;
  border-radius: 20px;
  overflow:hidden;
}

.ToolPage:hover{
  transform: translateY(-10%);
  transition: transform 0.3s ease;

  
}

.AwardImage:hover{
  transform: translateY(-10%);
  transition: transform 0.3s ease;
}

.hoverText {
    opacity: 0;
    pointer-events: cursor;
}
.hoverText1 {
    opacity: 0;
    pointer-events: cursor;
}


.AwardImages:hover .hoverText {
    opacity: 1; 
    transform: translateX(50%) 
      transition: opacity 0.3s ease, transform 0.3s ease;
}

.verifiedtext{
  display:flex;
}
.VerifiedIcon:hover .hoverText1 {
    opacity: 1; 
    transform: translateX(50%) 
      transition: opacity 0.3s ease, transform 0.3s ease;
}


.Verification{
   width:19vw;
   height:10px;
   border-radius:20px;
   overflow:hidden;
     align-items:center;
  justify-content: center;
  margin-top: auto;
  border:solid;
  border-width:6px;
  border-color:#025a4e;
  } 

.VerifiedIcon{
justify-content:flex-start;
align-items:flex-start;
width:20px;
height:20px;
padding-top:10px;
padding-bottom:0px;
margin-bottom:0px;
display:inline-block;
}

.VerifiedIcon:hover{
  transform: translateX(10%);
  transition: transform 0.3s ease;
}


.lighttheme .Verification{ 
  border-color:#2a443a;
} 
.darktheme .Verification{
   border-color: #8fdcc2;
   }

.ProgressBar{
  margin:0px;
  padding:0px;
  width:100%;
  height:15px;
  border-radius: 0px 10px 10px 0px;
  display: inline-block;
  text-align: left;
  
}

.lighttheme .ProgressBar{
  background-color:#2a443a;
  
}

.darktheme .ProgressBar{
  background-color:#8fdcc2;
}


#progressbar1{
  width:50%;
}

#progressbar2{
  width:60%;
}

#progressbar3{
  width:45%;
}

#progressbar4{
  width:55%;
}

#progressbar5{
  width:70%;
}

#theme-switch{
  width:3vw;
  height:3vw;
  align-items:center;
  justify-content: center;
  display:flex;
  border-radius:50px;
  background-color:#ffffff34;
  flex-shrink:1;
}
#theme-switch img:last-child{
  display:none;
}
.darktheme #theme-switch img:first-child{
  display:none;
}
.darktheme #theme-switch img:last-child{
  display:block;
}
nav{
       justify-self: center;
    text-align: center;
    font-size: 20px;
    top:20px;
    width:fit-content;
   
}

    .twonav{
      position:sticky;
      align-items:center;
      top:15px;
 width: fit-content;
 height:8vh;
  margin: 0 auto;
  display:flex;
  flex-wrap:nowrap;
  z-index:100;
    }

.twonav.scrolled{
    background-color:rgba(240, 240, 240, 0.769);
     backdrop-filter: blur(150px);
    border:transparent;
    border-radius: 50px 50px 50px 50px;
    z-index: 100;
}


.lighttheme .twonav.scrolled{
    background-color:rgba(240, 240, 240, 0.769);
     backdrop-filter: blur(150px);
    border:transparent;
    border-radius: 50px 50px 50px 50px;
    z-index: 100;
}



.darktheme .twonav.scrolled{
    background-color:rgba(44, 93, 66, 0.719);
     backdrop-filter: blur(150px);
    border:transparent;
    border-radius: 50px 50px 50px 50px;
    z-index: 100;
}


 .nav_toggle{
    padding:.5vh;
  }

.darktheme .messagebox{
  background-color:#3b503c73;
}

.lighttheme .messagebox{
  background-color:white;
}

.messagebox{
  border:transparent;
  margin: 5px auto 5px 5px;
}

.lighttheme .Responsebox{
   border:2px solid #025a4e;
   border-radius:30px;
   padding:.75em 1.4em .75em 1.4em;
   width:fit-content;
}

.darktheme .Responsebox{
  border-color: #8fdcc2;
border: 2px solid #8fdcc2; 
   padding:.75em 1.4em .75em 1.4em;
   width:fit-content;
}

.darktheme .UserGreeting{
  background-color:#025a4e;
  width:fit-content;
  border-radius:30px;
  font-size:20px;
  font-family:GT-Planar;
  color:#d4ede4;
  padding:15px 15px;
    margin: 5px 5px 5px auto;
  display: block;
}

.lighttheme .UserGreeting{
    background-color:#d4ede4;
  width:fit-content;
  border-radius:30px;
  font-size:20px;
  font-family:GT-Planar;
  color:#025a4e;
  padding:15px 15px;
    margin: 5px 5px 5px auto;
  display: block;
}

.darktheme .BotGreeting{
   background-color:#3b503c73;
   font-size:20px;
   border-radius:30px; 
   padding:.75em 1.4em .75em 1.4em; 
   width:fit-content; 
     margin: 5px auto 5px 5px;
  display: block;
}

.lighttheme .BotGreeting{
  font-size:20px;
  background-color:white;
     border-radius:30px; 
   padding:.75em 1.4em .75em 1.4em; 
   width:fit-content; 
     margin: 5px auto 5px 5px;
  display: block;
}

  /* Backdrop */
  .modal {
    display: none;
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: right;
    align-items: flex-start;
    z-index: 9999;
  }

  /* Mobile-sized drawer */
  .modal-content {
      position: fixed;
    width: 400px;
    max-width: 90%;
    height: 85vh;
     background-color:rgba(255, 255, 255, 0.05);
     backdrop-filter: blur(50px);
    border-radius: 15px 15px 0 0;
    padding: 20px;
    overflow-y: auto;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
  }

  .darktheme .modal-content{
    background-color:#23383137;
  }



  /* Active (slide up) */
  .modal.show .modal-content {
    transform: translateY(0);
  }

  .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255,255,255,0.2);
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s;
    z-index: 10000;
  }
  
  .close-btn:hover {
    background: rgba(255,255,255,0.4);
  }
  
  .darktheme .close-btn {
    color: #ddd;
  }
  

.Playboxes{
  display:flex;
  justify-content: space-between;
  padding:5vh 5vw;
  align-items: center;
  overflow:hidden;
}

.Playboxes1{
  overflow:hidden;
  display:flex;
  justify-content: space-between;
  padding:5vh 5vw;  
  align-items: flex-start;
}

.lighttheme .DownloadButton{
  background-color:#025a4e;
}

.darktheme .DownloadButton{
 background-color:#cfe0bc;
 color:#025a4e;
}

.lighttheme .DownloadButton h8{
 color:#cfe0bc;
}

.darktheme .DownloadButton h8{
 color:#025a4e;
}

.DownloadButtondiv{
  display:flex;
  justify-content:center;
}

.DownloadButton h8{
  margin:0;
  padding:0;
}


.DownloadButton{
  border-radius:30px;
  width:20vw;
  height:5vh;
  border:none;
}

.Playboxes,
.Playboxes1 {
  margin-bottom: 0;     /* reset default spacing */
  padding-bottom: 0;
}

.Box3{
  display:flex;
  flex-direction:column;
 border-radius:10px;
 padding:1.5vw;
 width:40vw;
   align-items: flex-start;
}

.FourandThree{
  display:flex;
  flex-direction: column;
  row-gap:5vh;
}

.boxes{
  display:flex;
  flex-direction:column;
    row-gap:5vh;
}

.Box4{
  display:flex;
 border-radius:10px;
 padding:1.5vw;
 width:40vw;
 height:fit-content;
 align-items:center;
}


.BoxOne{
  display:flex;
 border-radius:10px;
 padding:1.5vw;
 height:40vh;
 padding:0;
 width:40vw;
   align-items: center;
   margin-top:0px;
   flex-wrap:wrap;
}

.BoxExperience{
  display:flex;
 border-radius:10px;
 height:40vh;
 width:80vw;
 margin:0 auto; 
 margin-bottom:3vh;
 padding:0;
   align-items: center;
   flex-wrap:wrap;
}

.BoxQuote{
  display:flex;
  flex-direction: column;
 border-radius:10px;
 height:70vh;
 width:45vw;
 margin:0 auto; 
 margin-bottom:3vh;
 padding:0;
   align-items: center;
}

.line1{
  height:2px;
  background-color: #234138;
 width:86vw;
 margin-bottom:5vh;
}
.line2{
  height:2px;
  background-color: #234138;
 width:86vw;
 margin-top:5vh;
 margin-bottom: 5vh;
}
 
 .darktheme .line1{
  background-color: #d4ede4;
 }
  .darktheme .line2{
  background-color: #d4ede4;
 }


.lighttheme .BoxOne{
  background-color:#f4eee5;
}



.darktheme .BoxOne{
  background-color:#234138;
}

.lighttheme .BoxExperience{
  background-color:#f4eee5;
}



.darktheme .BoxExperience{
  background-color:#234138;
}

.lighttheme .BoxQuote{
  background-color:#f4eee5;
}



.darktheme .BoxQuote{
  background-color:#234138;
}

.lighttheme .Box3{
  background-color:#f4eee5;
}

.darktheme .Box3{
  background-color:#234138;
}

.lighttheme .Box4{
  background-color:#f4eee5;
}

.darktheme .Box4{
  background-color:#234138;
}

.Box4:hover{
  transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.BoxOne:hover{
  transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.BoxExperience:hover{
  transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.BoxQuote:hover{
  transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.Box3:hover{
  transform: translateY(-10px);
    transition: transform 0.3s ease;
}



.BoxOneTextText  {
  display:flex;
  flex-direction:column;
    align-items: center;
    justify-self:center;
    width:30vw;
}

.BoxExperienceTextText  {
  display:flex;
  flex-direction:column;
    align-items: center;
    justify-self:center;
    width:60vw;
}

.BoxQuoteTextText  {
  display:flex;
  flex-direction:column;
    align-items: center;
    justify-self:center;
    width:40vw;
}

.BoxQuoteHeader{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.BoxOneText{
  display:flex;
  gap:1vw;
  align-items:center;
}

.circular_image img{
 border-radius: 50%;
 width:8vw;
  align-items: center;
  
}

.circular_image img{
 border-radius: 50%;
 width:8vw;
  align-items: center;
  
}

.experience_image{
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-left:2vw;
}


.experience_image img{
 border-radius: 50%;
 width:10vw;
 height:10vw;
}

.BigBoxImage{
  display:flex;
  width:100%;
  min-height:30vh;
  justify-content:center;
 border-radius:10px;
   align-items: center;
}
.BigBoxImage img {
  max-width: 100%;            
  height: auto;             
  display: block;
  align-items: center;           
}

@media (max-width:500px){
#theme-switch{width:30px;}

  html, body{
  width:100%;
  max-width:100%;
    overflow-x: hidden;
}

.AwardImage{
  height:85%;
  width:auto;
}

.BoxOneTextText {
  width:60vw;
}

boxonetext{
  width:75vw;
}

#AwardImageThree{
  height:90%;
}

#AwardImageFour{
  height:90%;
}

#AwardImageFive{
  height:90%;
}

.Playboxes{
  justify-content:center;
  flex-direction:column;
}

.Playboxes h2{
  font-size:15px;
}

.Playboxes h8{
  font-size:15px;
}

.circular_image img{
  width:12vw;
}
.Experienceboxes{
  display:flex;
  justify-content:center;
  flex-direction:column;
}
.Playboxes1{
   justify-content:center;
  flex-direction:column;
}

Playboxes3{
   justify-content:center;
  flex-direction:column;
}

.clickable_images{
  display:flex;
  flex-direction:column;
    align-items: center;
}

.AboutMeSection{
  flex-direction:column;
  align-items: center;
}

.AboutMeHeader{
   width:80vw; 
   padding:0;
   margin-top:0;
   text-align: left; 
}

.AboutMeDescription{
  width:80vw;
}

.AboutMeText{
  width:80vw;
  padding:15px 5px;
  justify-content:center;
}
.Ciaran{
  height:30vh;
  width:auto;
  
}

body{overflow:visible;}

.twonav{
 width:fit-content;
 display:flex;
 flex-wrap:nowrap;
  align-items: center;
  top:15px;
  position:sticky;
}
 nav{
  display:flex;
  flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    top:20px;
    width:fit-content;
   
}
nav button{
  flex-shrink:1;
}

.ProgressBar{
  height:10px;
}


.twonav button{
  flex-shrink:1;
}

.twonav nav {
  display: flex;
  flex-wrap: nowrap; 
  align-items: center;
}

h1{
  margin-bottom:3vh;
  padding-bottom:2vh;
  padding-top:2vh;
}

h2{
  font-size:15px;
}

h3{
  font-size:20px;
}
h8{
  font-size:12px;
  text-align: left;
}

.BoxOne{
   width:80vw;
   height:20vh;
}

.BoxExperience{
  padding-top:10px;
  flex-direction: column;
}

.circular_image{
  margin-top:auto;
}

.Box3{
  width:30vw;
}

#IMAGE_ONE{
       width:52vw;
  border-radius:20px;
}

#IMAGE_TWO{
     width:52vw;
  border-radius:20px;
}
#IMAGE_THREE{
     width:52vw;
  border-radius:20px;
} 
#IMAGE_FOUR{
     width:52vw;
  border-radius:20px;
}

.Playboxes1{
  justify-content: center;
    gap:2vw;
}

.Playboxes{
  justify-content: center;
  gap:2vw;
}

.AwardImages{
  height:20vw;

}

.BoxQuote{
  width:80vw;
  height:40vh;
}

.BoxQuoteTextText{
 width:75vw;
}


}

@media (max-width:900px){
  .VerifiedIcon{
    display:none;
  }

  .Verification{
    display:none;
  }

  .experience_image h2{
    font-size:15px;
  }

  .ProgressBar{
    display:none;
  }

  .hoverText{
    display:none;}
  
    .hoverText1{
      display:none;
    }
}

